name: Run Python Script on Schedule

on:
  schedule:
    - cron: "15 9 * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
      KITE_API_KEY: ${{ secrets.KITE_API_KEY }}
      KITE_ACCESS_TOKEN: ${{ secrets.KITE_ACCESS_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: MIS Script
        run: python mis_morning.py

      - name: Run script
        run: python script.py

#      - name: Run script nifty200
#        run: python nifty_200_btst.py
